/*Cambios universales*/

* {
	 font-family: "Quicksand", fantasy;
}

body {
	margin: 0;
	padding: 0;
	background-color:  #2B1E1A;
}

/*Banner de presentacion*/

header {
	background-image: url(../SH/bnnr.jpeg);
	color: #ffffff;
	text-shadow: 0 0 9px #000000;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 3vw 0;
	margin: auto;
	text-align: center;
}

h1 {
	text-align: center;
}

/*Barra de Naavegacion*/

.navbar {
    display: flex;
    top: 0;
    padding: 1vw;
    background-image: linear-gradient(to left, #ECBA24, #c63637);
    z-index: 600;
    position: sticky;
    border-bottom: solid 5px #f8f8f8;
    justify-content: space-around;
}
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.menu li {
    position: relative;
}

.menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu a:hover {
    background-color: #f88629;
    transform: scale(1.2);
}
.navMainMenu {
    margin: 0 3vw 0 2vw;
}

a {
    color: #c7d5e0;
    text-decoration: none;
}


/*Sub-parrafos*/

h2 {
	color: #f8f8f8;
	font-size: 45px;
	
}
/*Historia Cechini*/

.historia {
	background: #685f5f;
	color: #ffffff;
	padding: 1vw;	
	border-radius: 0vw 1.5vw 1.5vw 0vw;
	width: 90%;
	display: flex;
	text-align: justify;
	box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
}

.history a {
	text-decoration: none;
	color: #ff6969;
}

.historia img {
	border-radius: 0 1vw 1vw 0;
	padding-left: 10px;
}

/*Linea de tiempo*/

.linea-tiempo {
	background-color: #ffffff;
	margin: 20px auto;
	flex-direction: row;
	width: 90%;
	border-radius: 1vw;
	padding: 1vw;
	display: block;
	box-shadow: 0 0 4px 5px rgb(220, 113, 36);
}

.lintemp {
	flex-wrap: nowrap;
	display: flex;
	padding: 2vw;
	overflow: scroll;
}

.fecha {
	flex: 1 0 auto;
	margin: 5px 50px;
	width: 20%;
	height: auto;
	background-image: linear-gradient(#ffcc5d,#ffff99);
	color: #222222;
	padding: 5px;
	border-radius: 1vw;
	border: solid 7px #222222;
	
}

.fecha h3 {
	text-align: center;
}

.fecha p {
	text-align: center;
}

.cechini-content {
	justify-content: flex-end;
	
}

.cech-person {
	background: #685f5f;
	color: #ffffff;
	padding: 1vw;	
	border-radius: 1.5vw 0 0 1.5vw;
	width: 90%;
	margin-left: 8%;
	display: inline-flex;
	text-align: justify;
	box-shadow: 2px 2px 5px gray;
}

.cechini-content img{
	width: 10rem;
    border-radius: 100px 100px 0 100px;
    float: left;
}


/*ScrollBar*/

::-webkit-scrollbar {
    width: 0.8vw;
  }
  
::-webkit-scrollbar-track {
    opacity: 0;
}
  
::-webkit-scrollbar-thumb {
    background: #ff6969;
    border-radius: 5vw;
}

/*footer*/

footer {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 5px #f8f8f8;
    margin-top: 10px;
    background-image: linear-gradient(to left, #ECBA24, #c63637);
}

footer div {
    margin: 10px;
}

footer img {
	width: 50px;
	border-radius: 100%;
}

footer .copy {
	text-align: center;
	margin-right: 3vw;
	color: #000000;
}

.menu #page_check{
    color: #000000;
}

#btn, #btn2{
	display: none;
}

@media (width <= 768px) {
    .menu {
        flex-direction: column;
    }

    .menu li {
        display: block;
        width: 100%;
    }

    .menu a {
        padding: 15px;
        text-align: center;
    }

    .menu ul {
        position: static;
        box-shadow: none;
    }

    .navbar {
        position: static;
    }

	.historia {
		flex-direction: column;
	}

	.history {
		padding-bottom: 10%;
	}

	.historia img{
		justify-content: center;
		align-items: center;
		margin: 1%;
		padding: 0%;
		box-shadow: 2px 0px 1px rgba(255, 255, 255, 0.3);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.cechini-content {
		flex-direction: column;
	}

	.cech-person{
		padding-bottom: 8%;
	}

	.cechini-content img{
		justify-content: center;
		align-items: center;
		margin: 2%;
		padding: 0%;
	}

	.extra{
		display: none;
	}
	.extra2{
		display: none;
	}
	input[type="checkbox"]{
		display: block;
		appearance: none;
	}

	label{
		position: block;
		padding: 1em;
		background-color: #000000;
		color: #fff;
		cursor: pointer;
	}

	label::before{
		content: 'Leer más';
	}

	input[type="checkbox"]:checked ~ .extra{
			display: block;
	}

	#btn2[type="checkbox"]:checked ~ .extra2{
		display: block;
}

	input[type="checkbox"]:checked ~ label{
		content: 'Leer menos';
		display: none;
	}

	input[type="checkbox"]:checked{
		display: none;
	}

	.extra:has(input[type="checkbox"]:checked){
		display: inline;
	}

	.fecha {
		flex: 1 0 auto;
		margin: 2px 6px;
		width: 70%;
		height: auto;
		background-image: linear-gradient(#ffcc5d,#ffff99);
		color: #222222;
		padding: 5px;
		border-radius: 1vw;
		border: solid 7px #222222;
	}

}